 [Desktop Entry]
 Name = Upload to SFTPServer
 Type=Service
 ServiceTypes=KonqPopupMenu/Plugin
 MimeType=all/all
 Actions=SFTPUpload;

 [Desktop Action SFTPUpload]
 Name=Upload to SFTP Server
 Icon=network-server
 Exec[$e]=$HOME/.local/bin/sftp-copy-dolphin %u
